
/* =========================================== */
/* Basic Setup */
/* ------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color:rgb(124, 122, 122);
    font-family: 'Lato', 'Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom: 1}

.clearfix{
    content: '.';
    clear: both;
    display: block;
    height: 0;
}
/* =========================================== */
/* ReuseComponents */
/* ------------------------------------------- */

/* -----------Headings-----------*/
.row{
    max-width: 1140px;
    margin:0 auto ;
}

section{
    padding: 80px 0;
    
}

.box{  padding:1%}
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;
}
h2{
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: crimson;
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* ------------Paragraphs --------------- */

.long-copy{
    line-height: 145%;
    width:70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}


/* =========================================== */
/*          Links  */
/* ------------------------------------------- */


a:link,a:visited{
    text-decoration: none;
    color:crimson;
    border-bottom: 1px solid #82ccdd;
    transform: border-bottom 0.2s color 0.2s;
}

a:hover,a:active{
    color:#0a3d62;
    border-bottom: 1px solid transparent ;
}

/* =========================================== */
/* Button  */
/* ------------------------------------------- */
.btn:link,
.btn :visited
,input[type=submit]{
    display:inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    color:crimson;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s color 0.2s;
    margin-right: 10px;
}
.btn-full:link,
.btn-full:visited
,input[type=submit]:link
,input[type=submit]:visited{
    background-color: rgb(255, 255, 255);
    border:1px solid crimson;
    color: crimson;

}
.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid;
    color: crimson;
}

.btn:hover,
.btn:active
,input[type=submit]:hover
,input[type=submit]:active
{
    color: #3c6382;
}

.btn-full:hover,
.btn-full:active
,input[type=submit]:hover
,input[type=submit]:active{
    background-color: rgb(255, 255, 248);
    border:1px solid ;
    /* color: #38ada9; */
    color:#0a3d62
}

.btn-ghost:hover,
.btn-ghost:active
{
    border: 1px solid #82ccdd ;
    /* color: #0c2461; */
    color:#82ccdd
}

/* =========================================== */
/* Header */
/* ------------------------------------------- */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../pics/headerPage.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.title{
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.logo{
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 20px;
}


.main-nav{
    float:right;
    list-style: none;
}

.main-nav li{
    display:inline-block
    ;margin-left: 40px;
    margin-top: 40px;
}

.main-nav li a:link,.main-nav li a:visited{
    color:rgb(226, 11, 54);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:border;
    padding:8px 0;
}

.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #edeff0;
}


.section-feature .long-copy{
    margin-bottom: 30px;
}


/* =========================================== */
/*           Meals Section */
/* ------------------------------------------- */
.section-meals {
    padding: 0;
    min-height: 595px;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: 300px;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
/* =========================================== */
/*           How it works */
/* ------------------------------------------- */
.section-steps {
    background-color: #e2dfdf;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box img{ border-radius:20px ; -webkit-border-radius:20px ; -moz-border-radius:20px ; -ms-border-radius:20px ; -o-border-radius:20px ; }
.steps-box:last-child {
    /* text-align: left; */
    padding-left: 3%;
    margin-top: 70px;
}
/* js--wp-2 */

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 50px;
}

.works-step div {
    color: crimson;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid crimson;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 110px;
    width: auto;
    margin-right: 10px;
}


/* =========================================== */
/*          Cities*/
/* ------------------------------------------- */
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
    line-height: 120%;
}

/* =========================================== */
/*           Testimonals */
/* ------------------------------------------- */


.section-testmonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.788),rgba(0, 0, 0, 0.74)) ,url('./Pizza5.png');
    background-size: cover;
    color:#fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;

}

blockquote:before{
    content: "\201C";
    font-size: 400%;
    display: block;
    position:absolute;
    top: -5px;
    left:-5px;
}
cite{
    margin-top: 25px;
    font-size: 90%;
    display: block;
    vertical-align: middle;
}


cite img{
    border-radius:50%;
    height:45px;
    margin-right: 10px;
}

/* =========================================== */
/*           Signup */
/* ------------------------------------------- */


.signup-plan{
    background-color: #f7f5f5ef;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width:90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #aa4d4d;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #f7f5f5ef;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding:5px 0;

}

.plan-box div:first-child{
    background-color: hsl(0, 0%, 95%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color:crimson;

}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

/* =========================================== */
/*          Contact Form*/
/* ------------------------------------------- */


.contact{
    width:60%;
    margin: 0 auto;
}

input[type=text]
,input[type=email]
,select,textarea{
    width:100%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid rgb(163, 161, 161);
}

textarea {
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

/* =========================================== */
/*          Footer*/
/* ------------------------------------------- */


footer{
    background-color: rgb(83, 81, 81);
    min-height: 100px;
    padding: 40px;font-size: 80%;
}

footer p{
    text-align: center;
    color: #b3b3b3ef;
    font-size: 90%;
    margin-top: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link
,.social-links li a:visited
{
    text-decoration: none;
    border: 0;
   
    color:#fffefe;
}

.social-links li a:link
,.social-links li a:visited{
    font-size: 120%;
}
.footer-nav li a:hover,
.footer-nav li a:active
{
    color:#82ccdd;
}

.social-links li a:hover
,.social-links li a:active{
    color:#5a6f9c;
}
.footer-nav{
    list-style: none;
    float:left;
}

.social-links{
    list-style: none;
    float:right;
    transition: color 0.3s;
}


.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}